<button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
<button type="button" class="btn btn-primary" (click)="onCancel()">Cancelar</button>
<form class="needs-validation" [formGroup]="form">
<input type="text" formControlName="nome" >
<input type="text" formControlName="estacao">
<input type="text" formControlName="responsavel">
<input type="text" formControlName="marca">
<input type="number" formControlName="anoLancamento">
<input type="number" formControlName="orcamento">

</form>
