input{
   margin: 15px 0px 15px 15px;
   border: none;
   background-color: rgba(128, 128, 128, 0.343);
   border-radius: 10px;
   font-size: 0.8em;
   width: 250px;
   padding: 5px 5px;
}

.col{
    padding-left: 206px;
}

button{
    margin-left: 15px;
}

#criarColecao{
    margin-top: 50px;
}