<div class="container">
  <div class="row">
    <div class="col col-lg-2">
      <app-nav></app-nav>
    </div>
    <div class="col-md-auto">
      <div class="container">
        <div class="row">
  <form class="needs-validation" [formGroup]="form">
    <h1>Criar modelo</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <input type="text"  placeholder="modelo"  formControlName="nome" required>
      </div>
      <div class="col">
        <input type="text" placeholder="responsavel" formControlName="responsavel" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <select  class="form-select" formControlName="tipo" required>
          <option selected>Tipo do modelo</option>
          <option value="bermuda">bermuda</option>
          <option value="camisa">camisa</option>
        </select>
      </div>
      <div class="col">
        <select class="form-select" formControlName="colecao" required>
          <option selected>Selecionar Coleção</option>
          <option value="{{colecoes.nome}}" *ngFor="let colecoes of colecao$ |async"> {{colecoes.nome}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>Possui bordado? </span> 
        <div class="form-check">
        <span>Sim </span> 
        <input type="checkbox" formControlName="bordado">
        <span>Não </span> 
        <input type="checkbox" formControlName="bordadoNao" >
      </div>
      </div>
      <div class="col">
        <span>Possui estampa? </span> 
        <div class="form-check">
        <span>Sim </span> 
       <input type="checkbox" formControlName="estampa">
       <span>Não </span> 
       <input type="checkbox" formControlName="estampaNao">
      </div>
    </div>
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-primary" (click)="onCancel()">Cancelar</button>
  </div>
</div>
</form>
</div>
    </div>
</div>
</div>
