.container {
    margin: 0%;
    margin-left: 50px;
}


#firstLine input {
    width: 250px;
    border: 1px solid rgba(128, 128, 128, 0.244);
    border-radius: 3px;
    padding: 5px;
}

#firstLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin-top: 50px;
}

select {
    width: 250px;
}

#secontLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin-top: 50px;
}

#thirdLine {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#thirdLine div {
    width: 350px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-left: 10px;
    margin-top: 150px;

}

#buttons button {
    width: 150px;
}