<form class="needs-validation" [formGroup]="form">
  <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name" formControlName="nome" required>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" formControlName="responsavel" required>
      </div>
      <div class="col">
        <select name="" id="" formControlName="tipo" required>
          <option value="bermuda">bermuda</option>
          <option value="camisa">camisa</option>
        </select>
      </div>
      <div class="col">
        <select name="" id="" formControlName="colecao" required >
          <option value="inverno"></option>
          <option value="{{colecoes.nome}}" *ngFor="let colecoes of colecao$ |async">{{colecoes.nome}}</option>

        </select>
      </div>
      <div class="col">
        <input type="checkbox" formControlName="bordado">
        <input type="checkbox" formControlName="bordadoNao" >
      </div>
      <div class="col">
       <input type="checkbox" formControlName="estampa">
       <input type="checkbox" formControlName="estampaNao">
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-primary" (click)="onCancel()">Cancelar</button>

</form>