.container{
    margin: 0%;
}
#primeiralinha input{
    width: 250px;
}

select{
    width: 250px;
}

#segundalinha {
    display: flex;
    flex-direction: row;
}

#terceiralinha{
    display: flex;
    flex-direction: row;
}
#terceiralinha div {
    width: 250px;
}
