.container {
    margin: 0px;
}

h1 {
    padding: 15px;
    font-size: 1.5em;
}

.table {
    text-align: center;
}

td {
    cursor: pointer;
}

.header {
    margin-top: 30px;
    font-weight: 700;
}

table {
    margin-top: 100px;
    border-collapse: separate;
}

th {
    list-style: none;
}

#strong {
    font-weight: 600;
}