<div class="content">
    <div class="d-flex justify-content-center" id="imagem">
        <img src="../../../assets/images/Fill-51.png" alt="">
        </div>
<form>
    <div class="position-absolute top-50 start-50 translate-middle" id="login">
        <div class="d-flex flex-row bd-highlight mb-3" id="all">
            <a href="" [routerLink]="['/']"><img src="../../../assets/images/flexa.png"></a>
            <p id="sign"> Redefinir Senha</p>
            </div>
            <div class="d-flex justify-content-center" >
                <p id="text">Digite o e-mail associado à sua conta e <br> enviaresmos instruções para redefinir sua <br> senha.</p>
                </div>
        <div class="d-flex justify-content-center" [formGroup]="form" >
          <input type="email"  formControlName="login" placeholder="Informe seu e-mail">
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar Recuperação</button>
        </div>
    </div>
</form>
</div>
