div {
    padding: 10px;
}

button {
    width: 350px;
    border-style: none;
    height: 50px;
    padding: 14px, 133px, 14px, 133px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
}

input {
    width: 340px;
    border: 1px solid rgba(0, 0, 0, 0.222);
    border-radius: 5px;
    padding: 7px;
}

#sign {
    font-size: 1.7em;
    font-weight: 500;
    color: #304C71;
    padding-left: 60px;
}

#text {
    font-size: 0.9em;
    font-weight: 500;
    color: #B4B6C1;
    text-align: center;
    margin-top: -40px;
}

a {
    text-decoration: none;
    font-weight: 500;
}

img {
    padding-right: 35px;
}

.content {
    background-color: #F2F5FF;
    min-height: 657px;
}

#login {
    background-color: #FFFFFF;
    width: 480px;
    height: 407px;
    border-radius: 8px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.444);
}

p {
    text-align: center;
}

#all {
    padding-top: 50px;
}

#image {
    margin-top: 40px;
}