<table class="table" >
    <thead>
      <tr>
        <td scope="col">ColecaoID</td>
        <td scope="col">Nome da Colecão</td>
        <td scope="col">Orçamento</td>
        <td scope="col">Responsável</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let colecoes of colecao$">
        <td id="id">{{colecoes.id}}</td>
        <td class="fraco">{{colecoes.nome}}</td>
        <td class="fraco">{{colecoes.orcamento}}</td>
        <td class="fraco">{{colecoes.responsavel}}</td>
      </tr>
    </tbody>
  </table>
