.container {
    margin: 0px;
}


.table {
    text-align: center;
}

td {
    cursor: pointer;
}

.header {
    margin-top: 30px;
    font-weight: 700;
}

table {
    margin-top: 100px;
}

th {
    list-style: none;
}

table {
    border-collapse: separate;
}