<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
        <div class="d-flex justify-content-between">
          <div class="p-2 bd-highlight">Modelos</div>
          <button class="btn btn-primary me-md-2" type="button" [routerLink]="['/logado/novoModelo']">Criar
            Modelo</button>
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <td scope="col"><strong>ModeloID</strong></td>
            <td scope="col"><strong>Nome do Modelo</strong></td>
            <td scope="col"><strong>Coleção</strong></td>
            <td scope="col"><strong>Responsavel</strong></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of models$ | async" (click)="onEditi(model.id)">
            <td><strong>{{model.id}}</strong></td>
            <td>{{model.nome}}</td>
            <td>{{model.colecao}}</td>
            <td>{{model.responsavel}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>