<h1>Home</h1>
<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3">
          <app-nav></app-nav>
        </div>
        <div class="col-6 col-sm-3" class="dentro" >
            <div class="textoPrincipal">
                <p>Bem vindo, <strong>Felipe</strong> </p>
                <p>Acompanhe a visão geral de suas coleções</p>
            </div>
            <div class=row>
                <div class="col">
                    <div class='quadrado'>
                        <p>Coleções</p>
                        <p>{{somaColecao}}</p>
                    </div>
                </div>
                <div class="col" >
                    <div class='quadrado'>
                    <p>Modelos</p>
                    <p>{{somaModelo}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class='quadrado'>
                    <p>Orçamento Medio por coleção</p>
                    <p>{{stringMedia}}</p>
                </div>
                </div>
            </div>
        </div>    
        </div>
    </div>