h1 {
    padding: 15px;
    font-size: 1.5em;
}

.container {
    margin: 0px;
    width: 1200px;
}

.dentro {
    width: 75%;
}

.textoPrincipal {
    font-weight: 400;
}

.quadrado {
    background-color: rgba(101, 161, 178, 0.205);
    text-align: center;
    font-size: 0.9em;
    outline: 50px;
    width: 220px;
    padding: 2px 5px;
}

.number{
    font-size: 1.5em;
}

h4{
    padding: 25px 0px 15px 0px;
    margin: 0%;
    font-weight: 700;
}