<div class="container">
    <div class="col" class="inside">
        <div class="maintext">
            <p><strong>Bem vindo</strong>, Felipe </p>
            <p style="font-size: 0.7em;">Acompanhe a visão geral de suas coleções</p>
        </div>
        <div class=row>
            <div class="col">
                <div class='square'>
                    <p>Coleções</p>
                    <p class="number" style="font-weight: 700">{{sumCollection}}</p>
                </div>
            </div>
            <div class="col">
                <div class='square'>
                    <p>Modelos</p>
                    <p class="number" style="font-weight: 700">{{sumModel}}</p>
                </div>
            </div>
            <div class="col">
                <div class='square'>
                    <p>Orçamento Medio por coleção</p>
                    <p class="number" style="font-weight: 700">{{averageCollection | currency:'BRL'}}</p>
                </div>
            </div>
        </div>
        <h4>Maiores orçamentos</h4>
        <app-colecao-valor></app-colecao-valor>
    </div>
</div>