<div class="container">
  <form class="needs-validation" [formGroup]="form">
    <h1 *ngIf="this.form.value.id">Editar modelo</h1>
    <h1 *ngIf="this.form.value.id == null">Criar modelo</h1>
    <div id="firstLine">
      <input type="text" placeholder="Modelo" formControlName="name" required>
      <input type="text" placeholder="Responsavel" formControlName="responsible" required>
    </div>
    <div id="secontLine">
      <select formControlName="type" class="form-select" required>
        <option selected>Tipo do modelo</option>
        <option value="bermuda">Bermuda</option>
        <option value="biquíni">Biquíni</option>
        <option value="bolsa">Bolsa</option>
        <option value="boné">Boné</option>
        <option value="calça">Calça</option>
        <option value="calçados">Calçados</option>
        <option value="camisa">Camisa</option>
        <option value="chapéu">Chapéu</option>
        <option value="saia">Saia</option>
      </select>
      <select class="form-select" formControlName="collection" required>
        <option selected>Selecionar Coleção</option>
        <option value="{{collections.name}}" *ngFor="let collections of collection$ |async"> {{collections.name}}</option>
      </select>
    </div>
    <div id="thirdLine">
      <div>
        <span>Possui bordado? </span> <br>
        <input formControlName="embroidery" type="radio" id="yes1" name="embroidery" value="yes">
        <label for="yes1">Sim</label><br>
        <input formControlName="embroidery" type="radio" id="no1" name="embroidery" value="no">
        <label for="no1">Não</label><br>
      </div>
      <div>
        <span>Possui estampa? </span> <br>
        <input formControlName="patterned" type="radio" id="yes" name="patterned" value="yes">
        <label for="yes">Sim</label><br>
        <input formControlName="patterned" type="radio" id="no" name="patterned" value="no">
        <label for="no">Não</label><br>
      </div>
    </div>
    <div id="buttons">
      <div><button *ngIf="this.form.value.id" type="button" class="btn btn-danger" (click)="onDelete()">Excluir</button>
      </div>
      <div>
        <button style="margin-right:10px ;" type="button" class="btn btn-outline-secondary"
          (click)="onCancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>
      </div>
    </div>
  </form>