h1 {
    padding: 15px;
    font-size: 1.5em;
}

.container {
    margin: 0px;
}
.dentro {
    width: 75%;
    margin-top: 50px;
    padding-left: 50px;
}

.textoPrincipal{
    font-weight: 700;
}

.quadrado{
    background-color:#EBF0FA;
    text-align: center;
    font-size: 14px;
    outline: 50px;
    width: 245px;
    height: 80px;
}

.numeros{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;  
}
h2{
    margin: 50px 0px;
}
