<div class="container">
    <div class="row">
        <div class="col-6 col-sm-3">
            <app-nav></app-nav>
        </div>
        <div class="col-6 col-sm-3" class="dentro">
            <div class="textoPrincipal">
                <p>Bem vindo, <strong>Felipe</strong> </p>
                <p>Acompanhe a visão geral de suas coleções</p>
            </div>
            <div class=row>
                <div class="col">
                    <div class='quadrado'>
                        <p>Coleções</p>
                        <p class="numeros">{{somaColecao}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class='quadrado'>
                        <p>Modelos</p>
                        <p class="numeros">{{somaModelo}}</p>
                    </div>
                </div>
                <div class="col">
                    <div class='quadrado'>
                        <p>Orçamento Medio por coleção</p>
                        <p class="numeros">{{stringMedia}}</p>
                    </div>
                </div>
            </div>
            <h2>Maiores orçamentos</h2>
            <app-colecao-valor></app-colecao-valor>
        </div>
    </div>
</div>
