div{
    padding: 10px;
}

button{
    width: 350px;
    border-style: none;
}

input{
    width: 340px;
}
#sign{
    font-size: 1.7em;
    font-weight: 500;
}

#text{
    font-size: 0.9em;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.661); 
}

a{
    text-decoration: none;
    font-weight: 500;
}

