a {
    font-size: 0.8em;
    width: 180px;
    margin: auto;
    padding: 2px 10px;
    transition: 1s;
    border-radius: 5px;
}

a:hover{
    background-color: #EBF0FE;
}

nav {
    padding: 15px;
    width: 200px;
    color: #6A7090;
}

span{
    font-size: 0.5em;
}

#logout{
    padding-top: 70%;
}

.inside{
    margin: auto;

}

.cadSup{
    font-size: 0.8em;
    margin-right: 0px;
    font-weight: 500;
    color: #6a709053;
}
div{
    padding: 5px 0px;
    margin-top: 12px;
}

nav{
    margin: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.086);
    background-color: #FEFEFE;
    color: #6A7090;
}

input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + label {
    color: red;
}
