<nav class="navbar navbar-light bg-light" id="nav">
  <div class="inside">
    <img src="../../../assets/images/audaces.png" alt="">
    <div class="container-fluid" >
      <a class="navbar-brand"  [routerLink]="['/logado/home']">Dashboard</a>
    </div>
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" class="cadSup">CADASTRO</span>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand"  [routerLink]="['/logado/colecao']">Coleções</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand"  [routerLink]="['/logado/modelos']">Modelos</a>
    </div>
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" class="cadSup">SUPORTE</span>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="**">Obter Ajuda</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand" href="**">Enviar Comentários</a>
    </div>
    <div class="container-fluid" id="logout">
      <a class="navbar-brand" routerLink="/">Logout</a>
    </div>
  </div>
</nav>