<nav class="navbar navbar-light bg-light">
    <img src="../../../assets/images/audaces.png" alt="">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" [routerLink]="['/home']">Dashboard</a>
    </div>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">CADASTRO</span>
        </div>
      </nav>
    <div class="container-fluid">
        <a class="navbar-brand" href="#" [routerLink]="['/colecao']">Coleções</a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#" [routerLink]="['/modelos']">Modelos</a>
      </div>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">SUPORTE</span>
        </div>
      </nav>
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Obter Ajuda</a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Enviar Comentários</a>
      </div>
      <div class="container-fluid" id="logout">
        <a class="navbar-brand" href="/">Logout <img src="../../../assets/images/images.png"></a>
      </div>
  </nav>
