<div class="container">
  <div class="row">
    <div class="col">
      <div class="header">
          <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight">Coleções</div>
              <button class="btn btn-primary me-md-2" type="button" [routerLink]="['/logado/novaColecao']">Criar Coleção</button>
          </div>
      </div>
      
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ColecaoID</th>
              <th scope="col">Nome da Colecao</th>
              <th scope="col">Estacao e Lançamento</th>
              <th scope="col">Responsavel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let colecoes of colecao$ |async" (click)="onEditi(colecoes.id)">
              <th scope="row">{{colecoes.id}}</th>
              <td>{{colecoes.nome}}</td>
              <td>{{colecoes.estacao}}-{{colecoes.anoLancamento}}</td>
              <td>{{colecoes.responsavel}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
